<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Pig Latin Translator</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	</head>
	<body ng-controller="myCtrl">
		<textarea ng-model="toTranslate" style="min-height: 300px; min-width: 500px" placeholder="Enter a sentence or phrase to be translated (Do NOT include punctuation as this will disrupt the translation)."></textarea>
		<textarea ng-model="translated" style="min-height: 300px; min-width: 500px"></textarea>
		<br>
		<button ng-click="translate()">Translate</button>
		<script src="scripts/angular.js"></script>
	</body>
</html>